<div class="footer">
	<div class="container">
		<div class="row" style="padding-top:50px">
			<div class="four columns">
				<p> Designed/Coded by Alican Salor </p>
			</div>
			<div class="eight columns">
				
				<a href="http://alicansalor.com"><i class="social-icons fa fa-home fa-3x"></i></a>
				<a href="https://www.facebook.com/alican.salor" target="_blank"><i class="social-icons fa fa-facebook fa-3x"></i></a>
				<a href= "https://www.linkedin.com/pub/alican-salor/77/aba/b39" target="_blank"> <i class="social-icons fa fa-linkedin fa-3x"></i></a>
				<a href= "https://github.com/alicansa" target="_blank"> <i class="social-icons fa fa-github fa-3x"></i></a>
				<a href= "https://instagram.com/alicansa/" target="_blank"> <i class="social-icons fa fa-instagram fa-3x"></i></a>
			</div>
		</div>
	</div>
</div>