<div id="mini" class="header-down" ng-model="navBar" ng-init="navBar=false">

	<h1 class="logo-minified">Salor's CodeShack</h1>
	<button class="fa fa-terminal fa-2x" ng-class="{'fa-flip-horizontal' : !navBar}" ng-click="navBar=!navBar"></button>
	<nav class="minified" ng-class="{'slide-in' : navBar, 'slide-out' : !navBar}">
		<ul>
			<li><a id="home_down" ui-sref="home" ng-click="navToHome()">home</a> / </li> 
			<li><a id="about_down" ui-sref="aboutme" ng-click="navToAbout()">about me</a> / </li>
			<li><a id="cv_down" ui-sref="cv">cv</a> / </li> 
			<li><a id="blog_down" ui-sref="blog({blogId : ''})">blog</a> / </li> 
			<li><a id="contact_down" ui-sref="contact">contact</a></li> 
		</ul>
	</nav>

</div>

<div class="header-up">

	<h1 class="logo">Salor's CodeShack</h1>
	<nav class="primary">
		<ul>
			<li><a id="home_up" ui-sref="home" ng-click="navToHome()">home</a> / </li> 
			<li><a id="about_up" ui-sref="aboutme" ng-click="navToAbout()">about me</a> / </li>
			<li><a id="cv_up" ui-sref="cv">cv</a> / </li> 
			<li><a id="blog_up" ui-sref="blog({blogId : ''})">blog</a> / </li> 
			<li><a id="contact_up" ui-sref="contact">contact</a></li> 
		</ul>
	</nav>

</div>